In [1]:
import kinkajou as kj

In [2]:
data = kj.cage_csv('../data/us_avg_tuition.csv',encoding="utf-8-sig")

In [3]:
data.header = [x.strip() for x in data.header]
print(list(data.header))

['State', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16']

In [4]:
print(list(data.column(1))[:5])

['$5,683 ', '$4,328 ', '$5,138 ', '$5,772 ', '$5,286 ']

In [5]:
def to_int(original):
    res = original.strip("$ ").replace(",","")
    return int(res)

In [6]:
# data.modify_column(1,to_int)
# data.modify_column('2005-06', to_int)

In [7]:
data.head(2)

['State', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16']
['Alabama', '$5,683 ', '$5,841 ', '$5,753 ', '$6,008 ', '$6,475 ', '$7,189 ', '$8,071 ', '$8,452 ', '$9,098 ', '$9,359 ', '$9,496 ', '$9,751 ']
['Alaska', '$4,328 ', '$4,633 ', '$4,919 ', '$5,070 ', '$5,075 ', '$5,455 ', '$5,759 ', '$5,762 ', '$6,026 ', '$6,012 ', '$6,149 ', '$6,571 ']

In [8]:
for x in range(1,len(list(data.header))):
    data.modify_column(x,to_int)

In [9]:
data.tail(2)

['State', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16']
['Wisconsin', 6575, 6871, 7086, 7348, 7373, 7945, 8441, 8659, 9052, 8931, 8785, 8815]
['Wyoming', 4086, 4188, 4122, 4072, 3929, 4129, 4299, 4357, 4456, 4499, 4654, 4891]

In [10]:
list(data.column(1))

[5683,
 4328,
 5138,
 5772,
 5286,
 4704,
 7984,
 8353,
 3848,
 4298,
 4267,
 4525,
 8183,
 7368,
 6813,
 5345,
 5640,
 4453,
 7058,
 8531,
 8863,
 7931,
 8144,
 5029,
 7477,
 5630,
 5947,
 3621,
 10188,
 10054,
 4926,
 6235,
 4493,
 5804,
 10378,
 4454,
 6579,
 10394,
 7476,
 8330,
 5479,
 5426,
 6395,
 4125,
 11067,
 7030,
 6192,
 4575,
 6575,
 4086]

In [11]:
list(data.row(1))

['Alaska',
 4328,
 4633,
 4919,
 5070,
 5075,
 5455,
 5759,
 5762,
 6026,
 6012,
 6149,
 6571]

In [12]:
list(data.column(0)).index('Alaska')

1

In [13]:
list(data.column('xxx'))

ValueError: 'xxx' is not in list

In [15]:
r = data.filter((lambda x: x[0] == 'New York'))
for x in r:
    print(x)

['New York', 6235, 6114, 5912, 5816, 5556, 6361, 6342, 6554, 6836, 7076, 7306, 7644]

In [16]:
r2 = data.filter((lambda x: x[1] < 4000))
for x in r2:
    print(x)

['Florida', 3848, 3924, 3888, 3879, 4150, 4783, 5511, 5941, 6495, 6452, 6345, 6360]
['Nevada', 3621, 3687, 4275, 4523, 4771, 5035, 5822, 6384, 6656, 6525, 6438, 6667]

In [17]:
data2 = kj.cage_csv('../data/us_avg_tuition.csv',encoding="utf-8-sig",has_header=False)

print(list(data2.header))

['Column_0', 'Column_1', 'Column_2', 'Column_3', 'Column_4', 'Column_5', 'Column_6', 'Column_7', 'Column_8', 'Column_9', 'Column_10', 'Column_11', 'Column_12']